.column-holder{
  display: flex;
  flex-direction: row;
}
h2{
  color: red;
}
.modal-window{
  position: static;
  width:90%;
   border: solid black 1px;
   background-color: aliceblue;
   transform: translate(2.5%, 0%);
   text-align: center;
}
.modal-button-holder{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.modal-window-column{
  position: absolute;
  height: 200px;
  width:20%;
  min-width: 250px;
   border: solid black 1px;
   background-color: aliceblue;
   transform: translate(2.5%, 0%);
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:20px;
   left: 50%;
top: 50%;
transform:translate(-50%, -50%);

}
.modal-window-column button{
  width: 120px;
}
.modal-window-column input{
  width: 200px;

}
.column-title{
  display: flex;
  justify-content: space-between;
}
.exit-btn{
  display: flex;
  width:30px;
  justify-content: center;
  align-items: center;
}
.exit-btn:hover{
  transition: 300ms;
  cursor: pointer;
  background-color: cadetblue;
  border-radius: 150px;

}
main{
  gap:15px;
  margin-top: 200px;
  background-color: #dbe5ff;
}
.column-holder{
  display: flex;
  flex-direction: column;
}
button{
  border: none;
  background-color: rgb(31, 34, 49);
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  padding: 1px;
  border-radius: 10px;
}
button:hover{
 cursor: pointer;
 background-color: rgb(78, 86, 124);
}
.title-input{
  border:none;
  font-size: 28px;
  width:200px
}
.edit-title{
  display: flex;
  justify-content: space-between;

}
.loading{
  height: 400px;
}