.column-holder{
  display: flex;
  flex-direction: row;
}
h2{
  color: red;
}
.modal-window{
  position: static;
  width:90%;
   border: solid black;
   background-color: aliceblue;
   transform: translate(2.5%, 0%);
   text-align: center;
}
.modal-button-holder{
  display: flex;
  align-items: center;
  justify-content: space-around;
}