.welcome-picture-class{
  width:500px;
}
.title-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-content h3{
  text-align: right;

}
.video iframe {
  width: 560px;
  height: 315px;
}
.member-card{
  min-width:150px;
  width:15%;
  height:400px;
  background-color: rgb(251, 227, 253);
  border: rgb(255, 255, 255) 1px solid;
  border-radius: 15px;
}
.member-holder{
  display: flex;
  justify-content: center;
  gap:150px;
}
.member-card img{
  padding-top: 10px;
  width: 60%;
  aspect-ratio : 1 / 1;
  border-radius: 100%;
}

@media (max-width: 667px){
  .title-content{
    flex-direction: column;
  }
  .title-content h3{
    text-align: left;
  }
}

@media (max-width: 615px) {
  .welcome-picture-class{
    width:300px;
  }
  .video iframe {
    width: 300px;
    height: 315px;
  }
}

@media (max-width: 505px) {
  .member-holder {
    gap: 55px;
  }
}

@media (max-width: 405px) {
  .member-holder {
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
}
