@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300&display=swap');

.authpage{
  margin-top: 200px;
  background-color: #dbe5ff;
}
.modalsign {
  padding: 20px;
  background-color: #969deb;
  width: 430px;
  margin: 0 auto;
  border-radius: 25px;
}

.modalsign h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  margin: 0 auto 20px auto;
}

.modalsign label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.nameInp,
.loginInp,
.passwordInp {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px auto;
}

.modalsign input,
.modalsign input::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.modalsign input {
  border-radius: 0px;
  border: none;
}

.narrow-button {
  border: none;
  background-color: black;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.wide-button {
  border: none;
  background-color: black;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  width: 320px;
}

.wide-button:hover,
.narrow-button:hover {
  background-color: #696969;
  transition: 0.3s;
  cursor: pointer;
}

.go-sign-up-tab {
  margin-top: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.href-sign-up {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.href-sign-up:hover {
  color: #ffffff;
}
