header{
  background: linear-gradient(#848aca, #dbe5ff);
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
  transition: 300ms;
  font-family: 'Montserrat', sans-serif;
}
header h1{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
  max-width: 45ch;
}
header.scrolled{
  transition: 300ms;
  height: 145px;
}
.header-title-buttons{
  display: flex;
  width: 800px;
  flex-direction: column;
}
.header-title-buttons h1 {
  align-self: flex-start;
}
.header-button-holder{
  gap: 5px;
  width: 505px;
  display: flex;
  align-self: flex-end;
  align-items: center;
}
.header-button{
  font-weight: 800;
  border: 1px black solid;
  border-radius: 15px;
  padding: 9px;
  transition: 300ms;
}
.header-button:hover{
  cursor: pointer;
  background-color: #899bcf;
  transition: 300ms;
}
.header-button:active{
box-shadow: inset 2px 2px 5px black;
}
.header-logo{
  height: 150px;
  transition: 300ms;
}

.header-logo.scrolled{
  height: 85px;
  transition: 300ms;
}

@media (max-width: 1092px) {
  header{
    flex-direction: column;
    height: 270px;
  }
  header.scrolled {
    height: 200px;
  }
  header > a {
    align-self: center;
  }
  .header-logo {
    height: 100px;
  }
  .main-page {
    margin-top: 270px;
  }
  .header-title-buttons {
    width: 660px;
    align-self: center;
  }
  .header-title-buttons h1 {
    align-self: center;
    font-size: 20px;
  }
  .header-button-holder {
    align-self: center;
  }
}

@media (max-width: 515px) {
  header{
    height: 300px;
  }
  header.scrolled .header-logo {
    height: 60px;
  }
  .header-title-buttons h1 {
    display: none;
    width: 220px;
  }
  header .header-button-holder {
    flex-direction: column;
  }
  header.scrolled {
    height: 290px;
  }
}
