@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;1,300;1,500;1,700&family=Signika+Negative:wght@700&display=swap');

.modalsign {
  padding: 20px;
  background-color: #00ffff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 25px;
}

.modalsign h2 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 36px;
  margin: 0 auto 20px auto;
}

.modalsign label {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}

.login, .password {
  margin: 0 auto 20px auto;
}

.login,
.password {
  display: flex;
  justify-content: space-between;
  width: 430px;
}

.modalsign input,
.modalsign input::placeholder {
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.modalsign input {
  border-radius: 0px;
  border: none;
}

.modalsign button {
  border: none;
  background-color: black;
  color: white;
  font-family: 'Inter Tight', sans-serif;
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.modalsign button:hover {
  background-color: #00adad;
  transition: 0.3s;
  cursor: pointer;
}

.go-sign-up-tab {
  margin-top: 20px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
}

.href-sign-up {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.3s;
}

.href-sign-up:hover {
  color: #ffffff;
}
