.board-item {
  border: 2px solid rgb(172 151 233);
  background-color: white;
  width: 210px;
  height: 160px;
  border-radius: 16px;
  padding: 20px;
}

.title-board {
  font-family: 'Inter Tight', sans-serif;
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-style: italic;
}

.delete-update-boards {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.delete-board,
.update-board {
  background-color: #dbe5ff;
  border: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.delete-board:hover,
.update-board:hover {
  background-color: #adc4ff;
}