@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.App {
  background-color: #dbe5ff;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap:250px;
  justify-content: space-around;
}
a{
  text-decoration:none;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.page-holder{
  background-color: #dbe5ff;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top: 200px;
  min-height:calc(100vh - 200px);
}
.background{
  width: 100%;
  height:75vh;
  background-color: #dbe5ff;
}
.button-handler{
  display: flex;
  justify-content: center;
  gap:10px;
}

@media (max-width: 1092px) {
  .page-holder{
    min-height:calc(100vh - 270px);
    margin-top: 270px;
  }
}

@media (max-width: 515px) {
  .page-holder{
    min-height: calc(100vh - 300px);
    margin-top: 300px;
  }
}
